<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.free.pubg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".free.uc.activities.RedeemHistory"></activity>
        <activity android:name=".free.uc.activities.ReedemOptions" />
        <activity android:name=".free.uc.activities.Wallet" />
        <activity android:name=".free.uc.activities.ParticipateHistory" />
        <activity android:name=".free.uc.activities.RoyalPassRequest" />
        <activity android:name=".free.uc.activities.RoyalPass" />

        <receiver
            android:name=".free.uc.utils.InstallReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity android:name=".free.uc.activities.InviteAndEarn" />
        <activity android:name=".free.uc.activities.ExtraBonus" />
        <activity android:name=".free.uc.activities.DailyBonus" />
        <activity android:name=".free.uc.activities.LuckySpin" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity android:name=".free.uc.activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".free.uc.activities.Login" />
        <activity android:name=".free.uc.activities.MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".free.uc.activities.LuckySpin$TenMinuteTimer"
            android:enabled="true"
            android:process=":remote">
        </receiver>
    </application>
</manifest>